python-telegram-bot==20.7
openai==1.6.1
beautifulsoup4==4.12.2
pydub==0.25.1
diskcache==5.6.3
faster-whisper==0.10.0
nvidia-cudnn-cu11==11.11.3.6
nvidia-cublas-cu11==11.11.3.6
pytest==8.0.0
google-cloud-speech==2.23.0