[Unit]
Description=EpictalesBot Voice Local Service Instance %i
After=network.target

[Service]
Type=simple
WorkingDirectory=/path/to/EpicTalesBot
ExecStart=/path/to/EpicTalesBot/.venv/bin/python ./bot/main.py
Environment="TELEGRAM_TOKEN= OPENAI_KEY= MESSAGE_QUEUE_URL="
Restart=on-failure

[Install]
WantedBy=multi-user.target
